/* Here will go my mixins */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Lato&display=swap");
a {
  appearance: none;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

body,
a,
p,
h1,
h2,
h3 {
  margin: 0; }

button {
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  background-color: transparent; }

div {
  box-sizing: border-box; }

@font-face {
  font-family: 'Cocogoose';
  src: url(../../assets/fonts/cocogoose/cocogoose_trial.woff); }

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  color: #272a31; }

p,
a,
button {
  font-family: 'Lato', sans-serif;
  color: #272a31da;
  font-size: 18px;
  line-height: 25px; }

.info {
  color: #272a31da;
  font-size: 30px;
  font-family: 'Cocogoose', sans-serif;
  font-weight: 400; }

.title {
  color: #ec5242; }
  .title-description {
    font-size: 24px; }
  .title-header {
    font-family: 'Cocogoose', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px; }

.theme2-title {
  font-weight: 600;
  width: 80%;
  margin: 30px auto 10px auto; }

button:hover {
  cursor: pointer; }

.interaction {
  background-color: #ec5242;
  color: #fff;
  padding: 30px 50px;
  margin: 40px 0; }

.extend {
  width: 100%;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 15px 10px;
  color: #272a31;
  font-size: 16px; }

.navbar {
  background-color: #f4f4f4; }
  .navbar ul {
    box-sizing: border-box;
    padding: 10px 20px; }

#footer {
  box-sizing: border-box;
  padding: 40px 10px;
  flex-wrap: nowrap; }
  #footer img {
    width: 200px;
    margin-right: 40px; }
  #footer p {
    font-size: 14px;
    font-weight: 600; }

.presentation > * {
  margin-left: 10px;
  margin-bottom: 10px; }

.container {
  box-sizing: border-box;
  padding: 10px; }
  .container-text {
    border: 4px solid white;
    padding: 20px;
    margin: 20px 0; }

.presentation {
  padding: 50px 10px 90px 10px;
  background-color: #f4f4f4; }

.language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 30px;
  margin-bottom: 10px; }
  .language img {
    width: 48px;
    height: 48px; }
  .language p {
    width: 55%;
    color: #fff;
    font-size: 16px; }

.programm {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .programm h1 {
    color: #fff;
    font-weight: 600;
    margin: 30px 0 10px 0; }

.line {
  border: 1px solid #ec5242;
  width: 50px;
  margin-bottom: 40px; }

.subtitle {
  width: fit-content;
  margin: 30px auto 15px auto; }

.professors {
  padding: 20px;
  margin-bottom: 40px; }

.card {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px; }

.card-info {
  min-width: 50%; }
  .card-info h2 {
    font-size: 20px; }
  .card-info h3 {
    margin: 10px 0;
    font-size: 16px;
    color: #ec5242;
    font-style: italic;
    font-weight: 400; }
  .card-info p {
    color: #272a31;
    font-size: 14px;
    line-height: 20px; }

.professor-container {
  position: relative;
  height: 150px;
  width: 80%;
  max-width: 150px;
  margin-right: 20px; }
  .professor-container .image-container {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 90%;
    height: 90%; }
    .professor-container .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }

.box {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: #272a31;
  width: 70px;
  height: 70px;
  z-index: -1; }

#about {
  background-color: #f4f4f4; }

.about {
  text-align: center;
  padding: 20px;
  padding-bottom: 40px; }

.about > * {
  margin-bottom: 20px; }

.about-text {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  padding: 20px; }

.small-placeholder {
  width: 80%;
  margin: 0 auto;
  font-size: 15px;
  line-height: 25px; }

.line-small {
  width: 30px; }

.logo-container {
  border: 1px solid #d3d3d3;
  margin: 50px 10px 10px 10px;
  padding: 30px 10px; }
  .logo-container img {
    max-width: 100%; }

.logo {
  border-bottom: 1px solid #d3d3d3; }

.past-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; }

.event {
  position: relative;
  max-width: 100%;
  width: 420px;
  height: 250px;
  margin-bottom: 20px; }
  .event img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }

.event-info {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #d12411b3; }
  .event-info h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px; }
  .event-info p {
    color: #fff;
    font-weight: 600; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }
  .flex-container img {
    min-width: auto;
    width: 150px;
    margin-bottom: 20px; }

#partner {
  background-color: #272a31da; }

#about p {
  line-height: 30px; }
