.navbar {
  background-color: #f4f4f4;

  ul {
    box-sizing: border-box;
    padding: 10px 20px;
  }

  @include for-desktop {
    background-color: #fff;

    &-black {
      background-color: $color-text;
      color: $color-text-white;
    }

    ul {
      padding: 5px;
    }
  }
}

.nav {
  @include for-desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-links {
      justify-content: flex-start;
    }

    &-links > * {
      margin-right: 40px;

      @include for-big-desktop {
        margin-right: 80px;
      }
    }

    &-start {
      align-items: flex-start;
    }

    img {
      height: 60px;
    }
  }
}

.social {
  @include for-desktop {
    display: flex;
    justify-content: flex-end;
    padding-right: 200px;

    ul {
      padding: 3px;
    }

    a {
      color: $color-text-white;
      font-weight: 600;
      font-size: 14px;
    }

    .nav {
      width: 300px;
    }
  }
}

.social-icon img {
  @include for-desktop {
    height: 20px;
  }
}

.nav-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: $color-subtitle;
  z-index: 3;
}

.menu-links {
  display: flex;
  margin-top: 30px;
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  a {
    color: $color-text-white;
    font-size: 24px;
  }

  button {
    font-size: 24px;
    padding: 20px;
  }
}

.closeButton {
  width: 80px;
  height: 80px;
  padding: 20px;

  img {
    width: 100%;
  }
}

.menu-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  height: 100px;

  img {
    height: 100%;
  }
}
