@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Lato&display=swap');

@font-face {
  font-family: 'Cocogoose';
  src: url(../../assets/fonts/cocogoose/cocogoose_trial.woff);
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  color: $color-subtitle;
}

p,
a,
button {
  font-family: 'Lato', sans-serif;
  color: $color-text;
  font-size: 18px;
  line-height: 25px;
}

.info {
  color: $color-text;
  font-size: 30px;
  font-family: 'Cocogoose', sans-serif;
  font-weight: 400;

  @include for-desktop {
    font-size: 35px;
  }
}

.title {
  color: $color-title;

  &-description {
    font-size: 24px;
  }

  &-header {
    font-family: 'Cocogoose', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;

    @include for-desktop {
      font-size: 45px;
    }
  }

  &-home {
    color: transparent;
    background-image: $color-title-home;
    background-color: $color-title;
    -webkit-background-clip: text;

    @include for-desktop {
      font-size: 60px;
      line-height: 60px;
      padding: 10px 0;
    }
  }

  &-description-home {
    @include for-desktop {
      font-size: 40px;
    }
  }
}

.theme2-title {
  font-weight: 600;
  width: 80%;
  margin: 30px auto 10px auto;

  @include for-desktop {
    font-size: 28px;
    font-weight: 400;
  }
}
